<style>
    .materia {
        color: #aeaeae;
        font-size: 14px;
        font-weight: 400;
        height: 100px;
    }

    .materia_head {
        height: 20px !important;
    }

    td {
        vertical-align: middle !important;
    }

    .materia_vista {
        background-color: green;
        color: white;
    }

    .materia_porver:hover {
        color: black;
        background-color: white;
        -moz-transition: all 0.3s cubic-bezier(0.8, 0.2, 0.2, 0.9);
        -o-transition: all 0.3s cubic-bezier(0.8, 0.2, 0.2, 0.9);
        -webkit-transition: all 0.3s cubic-bezier(0.8, 0.2, 0.2, 0.9);
        transition: all 0.3s cubic-bezier(0.8, 0.2, 0.2, 0.9);
        cursor: pointer;
    }

    .trantition_materia_selected {
        transform: scale(1.5, 1.5);
        -moz-transition: all 0.2s cubic-bezier(0.8, 0.2, 0.2, 0.9);
        -o-transition: all 0.2s cubic-bezier(0.8, 0.2, 0.2, 0.9);
        -webkit-transition: all 0.2s cubic-bezier(0.8, 0.2, 0.2, 0.9);
        transition: all 0.2s cubic-bezier(0.8, 0.2, 0.2, 0.9);
    }

    .materia_selected {
        color: black;
        background-color: white;
        cursor: pointer;
    }

</style>
<div class="table-responsive">

    <table class="table table-bordered" style="table-layout: fixed;">
        <thead>
        <tr class="materia materia_head">
            <th scope="col">I</th>
            <th scope="col">II</th>
            <th scope="col">III</th>
            <th scope="col">IV</th>
            <th scope="col">V</th>
            <th scope="col">VI</th>
            <th scope="col">VII</th>
            <th scope="col">VIII</th>
            <th scope="col">IX</th>
            <th scope="col">X</th>
            <th scope="col">XI</th>
            <th scope="col">XII</th>
        </tr>
        </thead>
        <tbody>
        <tr id="row1" class="materia"></tr>
        <tr id="row2" class="materia"></tr>
        <tr id="row3" class="materia"></tr>
        <tr id="row4" class="materia"></tr>
        <tr id="row5" class="materia"></tr>
        </tbody>
    </table>
</div>

<div class="container-fluid">

</div>

<div class="container-fluid d-flex justify-content-center">
    <p style="font-size: 14px; color: white; width: 200px" id="number_materias">
        0/6 materias seleccionadas
    </p>
</div>
<script>

    $(document).ready(function () {

        {% autoescape off %}
            var flujograma = {{ flujograma }};
        {% endautoescape %}

        flujograma = Object.entries(flujograma)
        var aux = 0;

        while (aux != 5) {
            for (var i = aux; i < 60; i += 5) {
                var row = aux + 1
                if (flujograma[i][1][0] == 1) {
                    $('#row' + row).append('<td id="' + flujograma[i][0] + '" class="materia_vista">' + flujograma[i][1][1] + '</td>')
                } else {
                    $('#row' + row).append('<td id="' + flujograma[i][0] + '" class="materia_porver">' + flujograma[i][1][1] + '</td>')
                }
            }
            aux++
        }

    });


    // cambiar
    var materias = 0;

    $('.materia_porver').on('click', function () {
        if ($('#' + $(this).attr('id')).hasClass('materia_selected')) {
            if (materias > 0) {
                $('#number_materias').addClass('trantition_materia_selected');
                setTimeout(function () {
                    $('#number_materias').removeClass('trantition_materia_selected');
                }, 400);
                $('#' + $(this).attr('id')).removeClass('materia_selected');

                materias--;
                $('#number_materias').text(materias + '/6 materias seleccionadas')
            }
        } else {
            if (materias < 6) {
                $('#number_materias').addClass('trantition_materia_selected');
                setTimeout(function () {
                    $('#number_materias').removeClass('trantition_materia_selected');
                }, 400);
                $('#' + $(this).attr('id')).addClass('materia_selected');
                materias++;
                $('#number_materias').text(materias + '/6 materias seleccionadas');
            } else {
                swal.fire('Alerta', 'Ya ha seleccionado el numero maximo de materias', 'error');
            }
        }

    });

</script>
